body{
    font-family: 'Open Sans', arial, sans-serif;
}

/*Nav Bar Styles */
.fullnavbar{
    font-family: 'Avenir Next Demi',Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #048282;
}

.navbar-brand{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.3em;
    font-weight:bold;
}

.navbar-margintop{
    margin-top:2em;
}

.btn-navbardropdown{
    font-family: 'Avenir Next Demi',Roboto,Helvetica,Arial,sans-serif;
    background: #d6d3eb;
    font-weight:500;
    font-size: 0.9em;
    border:0;
    border-color: #d6d3eb;
    box-shadow: none;
    padding:0.5em 4em;
    color: #000;
}

.h6-navbardropdown{
    font-weight:500;
    font-size: 0.8em!important;
    color:#4b4b4b;
}

.navbardropdownitem{
    font-weight:bold;
    font-size: 0.8em!important;
    color:#4b4b4b;
}

.text-black{
    color:#000;
}
/*
.search-input{
    display:none;
}*/

.purple{
    background-color: #d6d3eb;
}

.search{
    background: #343a40!important;
    border:none;
    color:white;
    box-shadow: none!important;
    border-bottom:1px solid white;
}

.search:focus{
    box-shadow: none!important;
    border-bottom:1px solid white;
}

.search-button:focus{
    box-shadow: none!important;
}


.dropdown-menu {
	min-width: 500px;
}
.dropdown-menu.columns-2 {
	min-width:800px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #4b4b4b;
    white-space: normal;
    font-weight:bold;
}
/*.multi-column-dropdown li a:hover {
    background-color: transparent;
    text-decoration: underline;
}*/
 
.divider{
    border-right:1px solid #ccc;
}
/* End of Nav Bar Styles */

/* Media Queries for Responsiveness */

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

@media (min-width:980px) {
    .tablet{
        display:none;
    }
}


